#container {
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(13, 37.5px) 1fr 1fr 1fr;
    grid-template-rows: repeat(13, 37.5px) 1fr 1fr 1fr;
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid rgb(156, 156, 156);
}

.cell-in-grid {
    padding: 5px;
    border: 2px solid black;
    margin: 2px;
}

.cell-in-grid:hover {
    background-color: aqua;
}


/* #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
} */